*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Open Sans",sans-serif;
}

a{
  text-decoration: none;
}

body{
  overflow-x: hidden;
}

.row{
  display: flex;
}
.column{
  display:flex;
flex-direction: column;
}